body {
	font-family: 'Fredoka', sans-serif;
}
header {
    background: #a1a1a1f1;
    padding: 20px 0;
}
.caixa-topo {
    position: relative;
    width: 90%;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 200px;
}
nav li {
    display: inline;
    margin: 0 0 0 20px;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    color: #ff7920fd;
    text-decoration: underline;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    background: #ffffff;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}
.produtos li:hover {
    border-color: #ff7920fd;
}
.produtos li:hover h2 {
    font-size: 32px;
}
.produtos li:active {
    color: #6b6b6bfd;
}
.produtos h2 {
    font-size: 30px;
    font-style: bold;
}
.produtos {
    width: 940px;
    margin: auto;
    padding: 50px 0;
}
.produto-descricao {
    font-size: 18px;
}
.produto-preco {
    font-size: 22px;
    font-style: bold;
    margin: 10px 0 0;
}
footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}
.copyright {
    color: white;
    font-size: 15px;
    margin: 30px;
}
/* contato */
main {
    background: linear-gradient(#fefefe,#464545);
}
form {
    width: 940px;
    margin: 0 auto;
}
form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 100%;
}
.checkbox {
    margin: 20px 0;
}
.enviar {
    width: 40%;
    padding: 15px 0;
    background: #ff9a57fd;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    margin-left: 15px;
}
.enviar:hover {
    background: #f76300fd;
    transform: scale(1.1);
}
/* tabela contato */
table {
    margin-top: 20px;
}
.topo-tabela {
    padding-top: 40px;
    font-size: 20px;
}
thead {
    background: grey;
    font-weight: bold;
    color: white;
}
td, th {
    border: 1px solid black;
    padding: 8px 15px;
}
.formulario {
    padding: 40px 0 40px 0;
}
/* pagina inicial */
.banner {
    width: 100%;
}
.principal {
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}
.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}
.principal p {
    margin: 0 0 1em;
}
.principal strong{
    font-weight: bold;
}
.principal em {
    font-style: italic;
}
.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}
/*mapa*/
.mapa {
    padding: 3em;
    width: 940px;
    margin: 0 auto;
}
.mapa p {
    text-align: center;
    margin: 0 0 2em;
}
.video {
    width: 640px;
    margin: 2em auto 0 auto;
}
.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}
.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.imgbeneficios {
    width: 60%;
    transition: 450ms;
    opacity: 1;    
}
.imgbeneficios:hover {
    opacity: 0.3;
}
.beneficios {
    padding: 3em 0;
}
.itens {
    line-height: 1.5em;
}
.itens::before {
    content: "✹ ";
}
.itens:first-child {
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    .caixa-topo, .principal, .conteudo-beneficios, .mapa, .video, form, .produtos {
        width: auto;
    }
    .lista-beneficios, .formulario {
        padding-left: 20px;
    }
    .produtos li{
        display: block;
        margin: 40px 40px 40px 40px;
        width: auto;
    }
    table {
        width: 60%;
        margin: 0 auto;
    }
    .input-padrao {
        width: calc(100% - 80px);
    }
    .topo-tabela {
        text-align: center;
        padding-bottom: 20px;
    }
    h1, .enviar, table {
        text-align: center;
    }
    nav {
        position: static;
        text-align: center;
    }
    .lista-beneficios, .imgbeneficios {
        width: 100%;
    }
}